
/* line 4, ../sass/main.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/* line 13, ../sass/_icons.scss */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
/* line 30, ../sass/_icons.scss */
.icon-pigpena, .icon-uniF489, .icon-uniF488, .icon-pigpent, .icon-pigpenu, .icon-uniF473, .icon-uniF472, .icon-checkmark, .icon-capslock, .icon-restart, .icon-storm2, .icon-right, .icon-left, .icon-move, .icon-checkmark-2, .icon-cancel, .icon-arrow-right, .icon-arrow-left, .icon-cross, .icon-checkmark-3, .icon-arrow-right-2, .icon-arrow-left-2, .icon-arrow, .icon-arrow-2, .icon-megaphone, .icon-checkmark-4, .icon-close, .icon-arrow-right-3, .icon-arrow-left-3 {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 88, ../sass/_icons.scss */
.icon-arrow-right:before {
  content: "\e032";
}


/*
Animate.css - http://daneden.me/animate
Licensed under the MIT license

Copyright (c) 2013 Daniel Eden

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
/* line 14, ../sass/_animate.scss */
body {
  /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
  -webkit-backface-visibility: hidden;
}

/* line 17, ../sass/_animate.scss */
.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 28, ../sass/_animate.scss */
.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}


/* line 3128, ../sass/_animate.scss */
.lightSpeedIn {
  -webkit-animation-name: lightSpeedIn;
  -moz-animation-name: lightSpeedIn;
  -o-animation-name: lightSpeedIn;
  animation-name: lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

/* line 3140, ../sass/_animate.scss */
.animated.lightSpeedIn {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

/* line 3246, ../sass/_animate.scss */
.wiggle {
  -webkit-animation-name: wiggle;
  -moz-animation-name: wiggle;
  -o-animation-name: wiggle;
  animation-name: wiggle;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

/* line 3258, ../sass/_animate.scss */
.animated.wiggle {
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  -o-animation-duration: 0.75s;
  animation-duration: 0.75s;
}

/* normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 22, ../sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 32, ../sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 41, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 50, ../sass/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 64, ../sass/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 74, ../sass/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 86, ../sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 95, ../sass/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 108, ../sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 117, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 126, ../sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 134, ../sass/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 142, ../sass/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 152, ../sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 164, ../sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 173, ../sass/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 181, ../sass/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 189, ../sass/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 198, ../sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 205, ../sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 209, ../sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 221, ../sass/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 229, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 241, ../sass/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 253, ../sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}


/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 290, ../sass/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 302, ../sass/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 317, ../sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 327, ../sass/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 337, ../sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 348, ../sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 361, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 370, ../sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 380, ../sass/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 393, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/_dash.scss */
html, body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

/* line 7, ../sass/_dash.scss */
body {
  background: #313131;
  font-family: 'Ubuntu';
  font-size: 16px;
  color: #313131;
  margin-bottom: 40px;
  line-height: 1;
}

/* line 15, ../sass/_dash.scss */
.marquee {
  width: 100%;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  background: rgba(255, 236, 47, 0.95);
  margin: 0;
  -webkit-box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.6);
}
/* line 23, ../sass/_dash.scss */
.marquee h1 {
  font-size: 3em;
  margin: 0.3em 0 0.35em;
}

/* line 29, ../sass/_dash.scss */
.leftside, .rightside {
  padding: 1em 2em;
  width: 50%;
  text-align: center;
  color: #ffd522;
}

/* line 36, ../sass/_dash.scss */
.leftside {
  float: left;
}

/* line 40, ../sass/_dash.scss */
.rightside {
  float: right;
}

/* line 44, ../sass/_dash.scss */
.list {
  list-style: none;
  padding: 0.1em;
  /*background: rgba(255, 255, 255, 0.09);*/
  margin: 0em 0;
  font-weight: bold;
  font-size: 8.7em;
  -webkit-transition: all 0ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  -webkit-transition-delay: 0ms;
  -moz-transition: all 200ms cubic-bezier(0.680, -0.550, 0.265, 1.550) 0ms;
  -o-transition: all 200ms cubic-bezier(0.680, -0.550, 0.265, 1.550) 0ms;
  transition: all 200ms cubic-bezier(0.680, -0.550, 0.265, 1.550) 0ms;
  -webkit-box-shadow: 0 0 9px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 9px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.4);
}
/* line 53, ../sass/_dash.scss */
.list .icon {
  font-size: 0.7em;
}
/* line 56, ../sass/_dash.scss */
.list li {
  position: relative;
  margin-bottom: 0.2em;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  -webkit-transition-delay: 0ms;
  -moz-transition: all 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0ms;
  -o-transition: all 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0ms;
  transition: all 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0ms;
}
/* line 61, ../sass/_dash.scss */
.list li:last-child {
  margin-bottom: 0;
}

/* line 67, ../sass/_dash.scss */
.absolute-logo {
  position: fixed;
  bottom: 11%;
  left: 50%;
  background: url("../images/logo/beeline_small_logo.png") no-repeat;
  width: 146px;
  height: 145px;
  margin-left: -73px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: logo-animation 5s infinite;
  /* Safari 4+ */
  -moz-animation: logo-animation 5s infinite;
  /* Fx 5+ */
  -o-animation: logo-animation 5s infinite;
  /* Opera 12+ */
  animation: logo-animation 5s infinite;
  /* IE 10+ */
}

/* line 82, ../sass/_dash.scss */
.window-number {
  color: #fcfcfc;
}
/* line 84, ../sass/_dash.scss */
.window-number:before {
  content: "";
}

/* line 89, ../sass/_dash.scss */
.icon-animation {
  -webkit-animation: icon-animation 3s infinite;
  /* Safari 4+ */
  -moz-animation: icon-animation 3s infinite;
  /* Fx 5+ */
  -o-animation: icon-animation 3s infinite;
  /* Opera 12+ */
  animation: icon-animation 3s infinite;
  /* IE 10+ */
}

.leftside .ticket-number,.leftside .window-number,.leftside .icon-arrow-right {
/*  -webkit-animation: glow cubic-bezier(0.645, 0.045, 0.355, 1.000) 3 3s;
  -moz-animation: glow cubic-bezier(0.645, 0.045, 0.355, 1.000) 3 3s;
  -o-animation: glow cubic-bezier(0.645, 0.045, 0.355, 1.000) 3 3s;
  animation: glow cubic-bezier(0.645, 0.045, 0.355, 1.000) 3 3s;
  -webkit-animation-name: blinker;  
  -webkit-animation-iteration-count: 3;  
  -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
  -webkit-animation-duration: 1.7s; 
*/} 


@-moz-keyframes glow {
  /* line 162, ../sass/2nd.scss */
  0% {
    text-shadow: 0 0 3px #fff, 0 0 15px #fff;
  }

  /* line 167, ../sass/2nd.scss */
  50% {
    text-shadow: 0 0 15px white, 0 0 25px white, 0 0 35px #2980b9, 0 0 45px #2980b9, 0 0 55px #2980b9, 0 0 70px #2980b9, 0 0 90px #2980b9;
  }

  /* line 177, ../sass/2nd.scss */
  100% {
    text-shadow: 0 0 3px #fff, 0 0 15px #fff;
  }
}

@-webkit-keyframes glow {
  /* line 162, ../sass/2nd.scss */
  0% {
    text-shadow: 0 0 3px #fff, 0 0 15px #fff;
  }

  /* line 167, ../sass/2nd.scss */
  50% {
    text-shadow: 0 0 15px white, 0 0 25px white, 0 0 35px #2980b9, 0 0 45px #2980b9, 0 0 55px #2980b9, 0 0 70px #2980b9, 0 0 90px #2980b9;
  }

  /* line 177, ../sass/2nd.scss */
  100% {
    text-shadow: 0 0 3px #fff, 0 0 15px #fff;
  }
}

@-o-keyframes glow {
  /* line 162, ../sass/2nd.scss */
  0% {
    text-shadow: 0 0 3px #fff, 0 0 15px #fff;
  }

  /* line 167, ../sass/2nd.scss */
  50% {
    text-shadow: 0 0 15px white, 0 0 25px white, 0 0 35px #2980b9, 0 0 45px #2980b9, 0 0 55px #2980b9, 0 0 70px #2980b9, 0 0 90px #2980b9;
  }

  /* line 177, ../sass/2nd.scss */
  100% {
    text-shadow: 0 0 3px #fff, 0 0 15px #fff;
  }
}

@keyframes glow {
  /* line 162, ../sass/2nd.scss */
  0% {
    text-shadow: 0 0 3px #fff, 0 0 15px #fff;
  }

  /* line 167, ../sass/2nd.scss */
  50% {
    text-shadow: 0 0 15px white, 0 0 25px white, 0 0 35px #2980b9, 0 0 45px #2980b9, 0 0 55px #2980b9, 0 0 70px #2980b9, 0 0 90px #2980b9;
  }

  /* line 177, ../sass/2nd.scss */
  100% {
    text-shadow: 0 0 3px #fff, 0 0 15px #fff;
  }
}


#overlay {
  position: absolute; 
  top: 100px; 
  color: #FFF; 
  text-align: center;
  font-size: 20px;
  background-color: rgba(221, 221, 221, 0.3);
  width: 640px;
  padding: 10px 0;
  z-index: 2147483647;
}

#v {
  z-index: 1;
}