
/* line 104, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.1/scss/foundation/components/_reveal.scss */
.reveal-modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background: black;
  background: rgba(0, 0, 0, 0.45);
  z-index: 98;
  display: none;
  top: 0;
  left: 0;
}

/* line 106, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.1/scss/foundation/components/_reveal.scss */
.reveal-modal {
  visibility: hidden;
  display: none;
  position: absolute;
  left: 50%;
  z-index: 99;
  height: auto;
  background-color: #fff;
  margin-left: -40%;
  width: 80%;
  background-color: white;
  padding: 1.25em;
  border: solid 1px #666666;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  top: 50px;
}
/* line 60, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.1/scss/foundation/components/_reveal.scss */
.reveal-modal .column,
.reveal-modal .columns {
  min-width: 0;
}
/* line 63, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.1/scss/foundation/components/_reveal.scss */
.reveal-modal > :first-child {
  margin-top: 0;
}
/* line 64, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.1/scss/foundation/components/_reveal.scss */
.reveal-modal > :last-child {
  margin-bottom: 0;
}
/* line 110, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.1/scss/foundation/components/_reveal.scss */
.reveal-modal .close-reveal-modal {
  font-size: 1.375em;
  line-height: 1;
  position: absolute;
  top: 0.5em;
  right: 0.6875em;
  color: #aaaaaa;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (min-width: 48em) {
  /* line 116, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.1/scss/foundation/components/_reveal.scss */
  .reveal-modal {
    padding: 1.875em;
    top: 6.25em;
  }
  /* line 119, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.1/scss/foundation/components/_reveal.scss */
  .reveal-modal.small {
    margin-left: -15%;
    width: 30%;
  }
  /* line 120, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.1/scss/foundation/components/_reveal.scss */
  .reveal-modal.medium {
    margin-left: -20%;
    width: 40%;
  }
  /* line 121, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.1/scss/foundation/components/_reveal.scss */
  .reveal-modal.large {
    margin-left: -30%;
    width: 60%;
  }
  /* line 122, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.1/scss/foundation/components/_reveal.scss */
  .reveal-modal.xlarge {
    margin-left: -35%;
    width: 70%;
  }
  /* line 123, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.1/scss/foundation/components/_reveal.scss */
  .reveal-modal.expand {
    margin-left: -47.5%;
    width: 95%;
  }
}
