body {
    font-family: Helvetica;
     margin: 0; padding: 0; overflow: hidden; background: black;
}

.button {
    padding: 10px;
    background-color: #ddd;
    border: solid 1px #666;
    font-weight: bold;
}

.hidden {
	display:none;
}

.button:hover {
    background-color: #ddf;
}