@charset "utf-8";
* {
	margin: 0;
}

html, body {
	background:#002a5a url(../img/kiosk/second_background.jpg) no-repeat;
	/*background-size: 100% 1020px;*/
	border: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Lucida Grande", Helvetica;
	font-size:13px;
}

a {
	color:#369;
}

img {
	border-width: 0px;	
}

.clear {
	clear:both;
}

.body {
	padding:40px;
	box-sizing: border-box;
}


ul  {
	padding-left:20px;
	list-style:square;
	margin:10px 0;
}

h4 {
	background-color:#f7f7f7;
	padding:2px 5px ;
	margin-bottom:10px;
}

.button {
	color:#8a8989;
	text-shadow:1px 1px 1px white,-1px 0 1px #444;
	border:none;
	font:bold 24px "Lucida Grande", Helvetica;
	letter-spacing:-1px;
	cursor:pointer;
	overflow: hidden;
	white-space: nowrap;
	text-transform:uppercase;
	padding: 10px 10px 10px 16px;
	box-shadow:0px 0px 12px rgba(0,0,0,0.3);
	background-image:-webkit-gradient(linear, left bottom, left top, from(#b8b8b8),to(#fefefe));
}
.active, .button:active {
	text-shadow:none;
	background-color: rgb(82,142,73);
	background-image:-webkit-gradient(linear, left bottom, left top, from(#2e6226),to(#44df7e));
	color:#d2ffdd;
}
.disabled {
	text-shadow:1px 1px 1px white, -1px -1px 1px #999 !important;
	background-image:-webkit-gradient(linear, left bottom, left top, from(#b8b8b8),to(#fefefe)) !important;
	color:#dcdcdc;
}

#iinFake {
	color:#ccc;
	outline:none;
	border:none;
	border-radius: 20px;
	font:normal 50px "Lucida Grande", Helvetica;
	letter-spacing:-1px;
	cursor:pointer;
	text-transform:uppercase;
	text-align:center;
	padding:10px 30px;
	display:block;
	height: 60px;
	margin-bottom: 20px;
	box-shadow:0px 0px 12px rgba(0,0,0,0.7);
	background-color:#000;
	background-image:-webkit-gradient(linear, left bottom, left top, from(rgba(50,50,50,0.5)),to(rgba(0,0,0,0.8)));
	-webkit-transition-property: background-color;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}

ul {
	padding:0;
	margin:0;
}

.panel{
	background:#f2f2f2;
	border-radius:20px;
	box-shadow:1px 1px 15px rgba(50,50,50,0.5);
	padding:100px 60px 50px 60px;
}

h1 {
	font-size:36px;
	letter-spacing:-1pt;
	margin:50px 0 20px 0;
}

h2 {
	font-size:24px;
	letter-spacing:-1pt;
}

h1 .subh1 {
	letter-spacing:0pt;
	font-size:18px;
	color:#828282;
	display:block;
	font-weight:normal;
	margin-top:-5px;
}

.buttons {
	background-color:#f2f2f2;
	border-radius:25px;
	display:inline-block;
}
.buttons.group .button {
	border-radius:6px;
}
.menu, .horizontal-menu {
	margin-bottom:20px !important;
}
.menu:last-child, .horizontal-menu:last-child {
	margin-bottom:0px !important;
}
.menu.buttons {
	width:100%;
}
.menu .button {
	display:block;
	margin-bottom:5px;
}
.horizontal-menu.buttons {
	width:100%;
}
.horizontal-menu .button {
	display:inline-block;
	margin-bottom:5px;
}
.horizontal-menu.group .button:first-child {
	border-top-left-radius:20px !important;
	border-bottom-left-radius:20px !important;
}
.horizontal-menu.group .button:last-child {
	border-top-right-radius:20px !important;
	border-bottom-right-radius:20px !important;
}

.button img {
	position: relative;
	margin-top: -7px;
	margin-bottom: -7px;
	margin-right: 10px;
	height: 36px;
}

.menu.group .button:first-child {
	border-top-left-radius:20px;
	border-top-right-radius:20px;
}
.menu.group .button:last-child {
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}


/****************/
.numpad row {
	display:block;
}

.numpad row .button {
	width:102px;
	display:inline-block;
	min-width:40px !important;
	padding:10px 10px !important;
	box-shadow:0px 0px 10px rgba(0,0,0,0.3);
	font:bold 24px "Lucida Grande", Helvetica;
	margin-right:-2px;
}

.numpad row  .button:first-child {
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
}
.numpad row  .button:last-child {
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	margin-right:0px;
}
.numpad row .button {
	border-radius:10px;
}
.numpad row:last-child .button {
	margin-bottom:0px;
}
/****************/
.scene-hide {
	display:none;
}
.scene-show {
	display:block;
}

/******************/
.callcenter1414 {
	background:url(../img/kiosk/icon_callcenter.png) no-repeat 5px 5px #fff;
	height:123px;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
	box-shadow:1px 1px 15px rgba(50,50,50,0.5);
	margin-top:40px;
}

.queue {
	height:250px;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
	box-shadow:1px 1px 15px rgba(50,50,50,0.5);
	margin-top:40px;
	background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.3)),to(rgba(0,0,0,0.3)));
}


.weaccept {
	background:url(../img/kiosk/icon_weaccept.png) no-repeat 20px 5px #f2f2f2;
	height:123px;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
	box-shadow:1px 1px 15px rgba(50,50,50,0.5);
	margin-top:40px;
}

@media print {
	.body {
		display: none;
	}
	header {
		display: none;
	}
	footer {
		display: none;
	}
	title {
		display: none;
	}
	.print {
		display: block;
		border: solid 1px #ccc;
	}
	body {
		background: white;
		margin: 0px;
	}
	#globalStatus {
		display: none;
	}
}

@media screen {
	.body {
		display: block;
	}
	.print {
		display: none;
	} 
}

.print {
	width: 302px;
	background: white;
	background-size: 40%;
	padding: 10px 20px 20px 20px;
	box-sizing: border-box;
}

.print h1 {
	letter-spacing:-2px;
	position:absolute;
	margin-top:-40px;
	padding-left:170px;
	font-size:18pt;
}

.print h2 {
	font-size:11px;
	font-weight:normal;
	text-align:center;
}

.print  h2 b {
	display:block;
	font-size:11pt;
}

.print h3 {
    height: 90px;
	font-family:  "Lucida Grande", Helvetica; 
	font-weight:normal; 
	letter-spacing:-0.08em;
	padding-right:5px;
	font-size:100pt;
	text-align:center;
	margin:45px 0 -10px 0;
}

.print ul {
	margin:0;
	list-style:none;
	font-size:11pt;
	padding-left:83px;
}

.print ul li b {
	margin-left:-83px;
	text-align:right;
	width:80px;
	display:inline-block;
	margin-right:3px;
}

.print .barcode {
	background:url(../img/kiosk/barcode.png) no-repeat center 10px; 
	text-align:center;
	padding-top:60px;

}

.screen-middle {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -2em;
	margin-left: 0em;
}